@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

$nav-color: #4f2477;

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.navbar {
  background-color: #f7f1ec;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  .navbar-brand img {
    height: 80px;
    width: 100%;
  }

  .nav-link {
    line-height: 32px;
    color: $nav-color;
    text-transform: uppercase;
    margin-right: calc(50px / 2);
    margin-left: calc(50px / 2);
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.6px;
  }
}
