@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap");

$main-color: #4f2477;
$poppins: "Poppins", sans-serif;
$yellow-color: #f8c765;
$green-color: #91996a;
$light-green: #cbccb4;
$light-yellow: #cea78b;

body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f1ec;
}

a {
  text-decoration: none;
}

.border-none {
  border: none;
}
.border-radius {
  border-radius: 5px;
}

.remove-box-outline {
  &:focus,
  &:active {
    box-shadow: none;
    outline: none;
  }
}

.line-below::after {
  background-color: $green-color;
  content: "";
  display: block;
  height: 3px;
  margin: 15px 0;
  width: 80px;
}

.main-color {
  color: $green-color;
}

.bg-nude-color {
  background-color: $light-yellow;
}

.text-italic {
  font-style: italic;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 31px;
  font-family: $poppins;
  color: #4b4b4b;
}

.modal-header {
  border-bottom: none;
}

.read-more {
  color: $green-color;
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
    color: $green-color;
  }
}

.stripe {
  background-color: $light-green;
  padding: 10px 0;
}

.bg-main-color {
  background-color: $green-color;
}

.btn-primary {
  background-color: #91996a;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: $poppins;
  border-radius: 0px 0px 0px 0px;
  padding: 14px 14px 14px 14px;

  span {
    padding-left: 10px;
  }

  &:hover {
    background-color: $main-color;
    color: #fbf9f6;
  }
}

.btn-enroll-now {
  border-radius: 50px;
  margin-bottom: 30px;
}

.btn-bg-secondary {
  background-color: $light-yellow;
}

.display-sm-block {
  display: none;
}

.slick-prev:before,
.slick-next:before {
  color: $green-color !important;
}
.slick-dots li button:before {
  display: none;
}
.navbar {
  background-color: #f7f1ec;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  .navbar-brand img {
    height: 90px;
    width: 100%;
  }

  .nav-link {
    line-height: 32px;
    color: $green-color;
    margin-right: calc(20px / 2);
    margin-left: calc(20px / 2);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.6px;
  }

  .dropdown {
    .dropdown-menu {
      .dropdown-item {
        color: $green-color;
        &:hover {
          color: $green-color;
          background-color: transparent;
        }
      }
    }
  }
}

.side-nav {
  display: none;
  .nav-close {
    background-color: $green-color;
    font-size: 30px;
    color: #fff;
    padding: 10px;
    margin-left: -40px;

    &:hover {
      background-color: $main-color;
    }
  }
  .container {
    padding: 30px 100px 0px 30px;
  }
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #f7f1ec;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  height: 100%;

  .side-logo {
    padding: 30px 0px;

    img {
      height: 40px;
    }
  }

  hr {
    color: $green-color;
  }

  .nav-item .nav-link {
    font-size: 18px;
    line-height: 32px;
    color: $green-color;
    text-transform: uppercase;
    letter-spacing: 5px;

    &:hover {
      color: $main-color;
    }
  }

  .social {
    display: flex;
    list-style: none;

    li {
      padding-right: 30px;
      font-size: 20px;
      a {
        color: $green-color;
      }
    }
  }
}

// homepage
.homepage {
  background-image: url("./img/Figuring\ Finance\ Landing.png");
  background-repeat: no-repeat;
  width: 100%;
  // height: 90vh;
  height: max-content;
  background-size: cover;
  background-position: center;

  .homepage-content {
    margin-top: 100px;
    padding-left: 50px;

    h5 {
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;
      color: $light-yellow;
      font-family: $poppins;
    }

    h1 {
      font-size: 65px;
      font-weight: 500;
      line-height: 1em;
      letter-spacing: -1px;
      color: #91996a;
    }

    p {
      color: #4b4b4b;
    }
  }

  .form-guide {
    margin-top: 40px;
    .form-control {
      background-color: #ffffff;
      border-color: #4b4b4b66;
      border-width: 1px 1px 1px 1px;
      border-radius: 0px 0px 0px 0px;
      min-height: 43px;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .signature {
    background-image: url("./img/signature.png");
    height: 100px;
    width: 200px;
    background-position: center;
    background-size: 100% 100%;
  }
}

.purple-bg {
  width: 100%;
  height: 10px;
  background: $light-yellow;
}

// assessment
.assessment {
  background-color: #91996a;
  color: #fff;
  padding: 40px 0px;

  h5 {
    color: $yellow-color;
    font-size: 18px;
    font-family: $poppins;
    font-weight: 300;
    letter-spacing: 4px;
  }

  h2 {
    font-weight: 500;
    line-height: 65px;
    font-size: 50px;
  }

  .img-wrapper {
    box-shadow: 8px 5px 28px -3px rgb(0 0 0 / 23%);

    img {
      height: 500px;
      width: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}

.journey {
  .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .journey-content {
    padding: 60px 0px 20px 40px;

    h5 {
      color: $light-yellow;
      font-size: 18px;
      font-family: $poppins;
      font-weight: 500;
      line-height: 18px;
    }

    h2 {
      font-weight: 500;
      line-height: 50px;
      font-size: 50px;
      color: $green-color;
    }
  }
}

// footer
.footer {
  padding-top: 30px;

  .footer-top {
    a {
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      padding-left: 20px;
      font-size: 12px;
      font-weight: 700;
      line-height: 12px;

      &:hover {
        color: $yellow-color;
      }
    }
  }

  .footer-bottom {
    p {
      font-size: 16px;
      line-height: 26px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.72);

      ol {
        list-style: none;
      }
      li {
        display: inline;
        a {
          color: #fff;
          padding-right: 20px;
        }
      }

      a {
        text-decoration: none;
        color: $yellow-color;
      }
    }
  }
}

// blogs page
.blogs {
  img {
    // height: 350px;
    height: 350px;
    width: 100%;
    object-fit: cover;
  }
  a {
    color: $green-color;
  }

  .card-body {
    height: 100px;
  }
}

.search-form {
  .form-control {
    background-color: #ffffff;
    border-color: #4b4b4b66;
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 0px 0px 0px;

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

.blog-details {
  a {
    color: $green-color;

    &:hover {
      color: $yellow-color;
    }
  }

  img {
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
}

// not found page
.not-found {
  // align center of page vertically and horizontally
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

  svg {
    font-size: 100px;
    color: $green-color;
  }
}

.podcast {
  background-color: #fff;
  color: #000;

  h2 {
    color: $green-color;
  }
}

.video-wrapper iframe {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

// about us
.about-us {
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    float: right;
  }
}

.testimonies {
  padding: 20px 0px;
  .card {
    background-color: #fff;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    .card-body {
      height: 300px;
      display: flex;
      align-items: center;
    }
  }

  .quote-left {
    font-size: 40px;
    color: $green-color;
  }
}

.icons-section {
  padding: 30px 0px;
  h5 {
    color: #fff;
  }

  img {
    height: 70px;
  }
}

.the-journey-2 {
  .img-wrapper img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 5px;
  }
}

.opportunities {
  background-image: url("https://images.unsplash.com/photo-1579621970588-a35d0e7ab9b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;

  .bg-main {
    background-color: #91996ad6;
  }

  .text-content {
    padding: 150px 0px;
    p {
      font-weight: 900;
      line-height: 40px;
      font-size: 20px;
    }
  }
}

// contact us
.contact-us {
  input {
    background-color: #ffffff;
    min-height: 48px;
    margin-bottom: 10px;

    &::placeholder {
      color: #a2a0a0;
      font-size: 14px;
    }

    &:hover,
    &:focus {
      border-color: $green-color;
    }

    @extend .remove-box-outline;
  }

  textarea {
    background-color: #ffffff;
    &:hover,
    &:focus {
      border-color: $green-color;
    }
    &::placeholder {
      color: #a2a0a0;
      font-size: 14px;
    }
    @extend .remove-box-outline;
  }

  .contact-info {
    a {
      color: #212529;
      font-weight: 400;
      font-size: 15px;
      line-height: 30px;

      &:hover {
        color: $green-color !important;
      }
    }

    .contact-list-info {
      .contact-icon {
        float: left;
        margin-right: 23px;
      }
    }
  }
}
.coaching {
  font-family: $poppins;

  h4 {
    font-weight: 900;
    line-height: 30px;
    color: $green-color;
  }

  svg {
    font-size: 50px;
    color: $green-color;
    padding: 20px 10px;
  }
  .card {
    background-image: url("./img/bg-card.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 50px;
    border-bottom: 3px solid $green-color;
    height: 550px;
  }

  ol {
    li {
      line-height: 26px;
      font-weight: 300;
      color: #2a2a2a;
    }
  }
}

@import "__responsive";
